@model CategoryCreateDTO
<div class="container form-group">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input asp-for="PhotoUrl" class="form-control" type="text" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <input class="btn btn-primary" placeholder="Submit" value="Create" type="submit" />
                </div>
            </div>
        </div>
    </form>
</div>
